body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-color{
    color: orange;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.flexible{
    display: flex;
    
    
}

.background-image{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.div-width{
    width:50%;
    padding-left: 30px;
    padding-right: 10px;
}
.div-width img{
    width: 80%;
    
}
.button-design{
    background-image: linear-gradient(orange,rgb(214, 19, 19));
    padding: 10px 20px ;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.second-section{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.boxmodel{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #d4d0d0;
    border-radius: 10px;
    border-left: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(orange,rgb(214, 19, 19));
}
.boxmodel2{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #d4d0d0;
    border-radius: 10px;
    border-left: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(rgb(2, 133, 255),rgb(12, 255, 223));
}
.background-image-third{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer{
    margin-top: 5px;;
    text-align: center;
}